{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <!-- Sección de información del usuario -->
  <div class="row mt-4">
    <div class="col-md-3 text-center">
      {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="rounded-circle" width="50"
          height="50">
      {% else %}
      <img src="{% static 'img/undraw_profile.svg' %}" alt="Default Avatar" class="rounded-circle"
          width="30" height="30">
      {% endif %}
    </div>
    <div class="col-md-9">
      <h2>{{ user.username }}</h2>
      <p>{{ user.bio }}</p>
      <div class="d-flex">
        <span class="me-3"><strong>{{ posts.count }}</strong> publicaciones</span>
        <span class="me-3"><strong>{{ followers_count }}</strong> seguidores</span>
        <span><strong>{{ following_count }}</strong> siguiendo</span>

      </div>
    </div>
  </div>
  
  <!-- Sección de publicaciones -->
  <hr>
  <div class="row">
    {% for post in posts %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <a href="{% url 'post_detail' post.id %}">
          <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.caption }}">
        </a>
        <div class="card-body">
          <p class="card-text">{{ post.caption|truncatewords:10 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
